{% extends 'layout.html' %}
{% block content %}
    <script type="text/javascript">
        var subjects = {{ subjects|tojson|safe }};
    </script>
    {% from "_formhelpers.html" import render_field %}
    <p> Enter your details below, and I'll notify you when your class opens up. Sniper is currently watching courses for Spring 2014 on the Rutgers New Brunswick campus. </p>
    <form method=post action="/">
        <dl>
            {{ render_field(form.email) }}
            {{ render_field(form.subject, placeholder="Department Number. Ex: '640' for Math", autocomplete="off") }}
            {{ render_field(form.course_number) }}
            {{ render_field(form.section, placeholder="Enter a section or a list of sections. Ex: '08938' or '39293,28239,28383'") }}
        </dl>
        <dl>
            {% for section in sections %}
                {{ render_field(form.checkbox) }} {{ form.section }}
            {% endfor %}
        </dl>
        <button class="btn btn-primary" name="snipe" type="submit">Snipe</button>
        <button class="btn btn-primary" name="sections" type="submit">Sections</button>
    </form>
{% endblock %}
